nav ul {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    list-style: none;
    .active {
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color:#00FF48;
        }
        a:hover {
            color: #FF00F2;
    }
}
